Flask==2.0.3
Flask_RESTful==0.3.9
joblib==1.2.0
matplotlib==3.3.4
numpy==1.20.2
pandas==1.4.2
Pillow==9.1.1
scikit_image==0.19.2
scikit_learn==1.1.1
Werkzeug==2.0.3
flask-cors==3.0.10
requests==2.27.1
git+https://github.com/isee4xai/NLPClassifierExplainer